@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --primary-gradient: linear-gradient(to right, #c6310c, #ff9068);
  
  --text-color: #fff;
  --button-bg: #1db694;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background: var(--primary-gradient);
  box-shadow: var(--box-shadow);
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links_logo {
  margin-right: 2rem;
}

.navbar-links_logo img {
  width: 62px;
  height: 16px;
}

.navbar-links_container {
  display: flex;
  gap: 2rem;
}

.navbar-links_container p a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;
}

.coding-buddy {
  font-size: 30px;
  font-weight: bolder;
}

.navbar-sign {
  display: flex;
  align-items: center;
}

.navbar-sign button {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  background: var(--button-bg);
  box-shadow: var(--box-shadow);
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-menu {
  display: none;
  position: relative;
}

.navbar-menu svg {
  cursor: pointer;
}

.navbar-menu_container {
  position: absolute;
  top: 50px;
  right: 0;
  background: var(--primary-gradient);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-align: right;
  min-width: 210px;
}

.navbar-menu_container p a {
  display: block;
  margin: 1rem 0;
}

.navbar-menu_container-links-sign button {
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 1050px) {
  .navbar-links_container {
    display: none;
  }

  .navbar-menu {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }

  .navbar-sign {
    display: none;
  }

  .navbar-menu_container {
    top: 30px;
  }
}
